<li class="list-group-item" data-controller="comment" id="comment-<%= comment.id %>" style="border-radius: 10px">
    <% if comment.sensitive? %>
      <div class="card-wrapper">
        <p data-post-card-target="content" class="d-none">
          <%= comment.content %>
        </p>
        <span data-post-card-target="message" data-action="click->post-card#show_content" class="sensi-message">
          This comment contains sensitive content.<br>
          <span class="badge-show badge-dark">Show More</span>
        </span>
      </div>
    <% elsif comment.offensive? %>
      <p>This comment is down for review.</p>
    <% else %>
      <div class="comment-top">
        <small><%= comment.created_at.strftime("%e %b %y") %></small>
      </div>
        <%= comment.content %>

    <% end %>

    <% if comment.replies.any? %>
      <% comment.replies.each do |reply| %>
        <%= render 'comments/reply', reply: reply %>
      <% end %>
    <% end %>
    <div class="container d-flex justify-content-end">
      <%# reply comment  %>
      <div class="text-right">
        <a data-comment-target="reply" data-action="click->comment#reply", class="fas fa-reply reply-btn" ></a>


      </div>


      <%# flag comment %>
      <div class="engagement text-right">
        <% if comment.get_dislikes.size > 0 %>
              <i class="fas fa-flag"></i>
            <% else %>
              <%= link_to flag_comment_path(comment), method: :put, data: { confirm: "Are you sure you want to flag this message?"} do %>
              <button data-action="click->post-card#flag" data-post-card-target="flag" class="far fa-flag flag-btn comment-flag"></button>
              <% end %>
            <% end %>
      </div>

      <%# delete comment %>
      <% if current_user == comment.user %>
        <div class="delete text-right pl-2">
          <%= link_to icon("fas", "trash"), post_comment_path(@post, comment),
                method: :delete, data: { confirm: "Are you sure?" }, class: "delete-btn  pl-2" %>
        </div>
      <% end %>

    </div>

            <div id="reply-form-<%= comment.id %>">
            <% @comment.parent_id = comment.id %>
            <%= render "comments/reply_form" %>
        </div>


</li>
