<li class="list-group-item">
    <% if comment.sensitive? %>
      <div class="card-wrapper" data-controller="post-card">
        <p data-post-card-target="content" class="d-none">
          <%= comment.content %>
        </p>
        <span data-post-card-target="message" data-action="click->post-card#show_content" class="sensi-message">
          This comment contains sensitive content.<br>
          <span class="badge-show badge-dark">Show More</span>
        </span>
      </div>
    <% elsif comment.offensive? %>
      <p>This comment is down for review.</p>
    <% else %>
      <div class="comment-top">
        <small><%= comment.created_at.strftime("%e %b %y") %></small>
        <%= link_to icon("fas", "reply"), comment_path(comment)  %>
      </div>
        <%= comment.content %>

      <%# replies %>
      <% if comment.replies.length > 0 %>
        <% comment.replies.each do |reply| %>
          <p class="reply"><%= reply.content %></p>
        <% end %>
      <% end %>

    <% end %>

    <%# flag comment %>
    <div class="engagement text-right">
      <%= link_to raw("<button data-action=\"click->post-card#flag\" data-post-card-target=\"flag\" class=\"far fa-flag flag-btn\"></button>"), flag_post_path(comment), method: :put, data: { confirm: "Are you sure you want to flag this comment?"} if comment.get_dislikes.size === 0 %>
        <% if comment.get_dislikes.size > 0 %>
            <i class="fas fa-flag"></i>
        <% end %>
    </div>

    <%# flag comment %>
    <div class="delete">
      <%= link_to icon("fas", "trash"), post_comment_path(@post, comment),
            method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
</li>
