<div class="container">
  <h2>Updates</h2>

  <% @notifications.each do |notification| %>

    <%= link_to post_path(notification.params[:comment].post, anchor:"comment-#{notification.params[:comment].id}") do %>
      <div data-controller ="notification" data-notification-target="item" class="notification-card mt-1 p-1 <%= notification.read? ? "" : "unread" %>">

        @<%= notification.params[:comment].user.username %> commented on your post: <%= notification.params[:comment].post.title %>
        <br>
        <%= notification.params[:comment].user.username %> commented: "<%= notification.params[:comment].content %>"
        <br>
        <p><strong><%= time_ago_in_words(notification.params[:comment].created_at) %> ago</strong></p>
    <% end %>

        <% unless notification.read? %>
          <div>
            <button 
            data-link="<%= marked_path(notification) %>"
            data-action="click->notification#mark_as_read" data-notification-target="mark" type="button" class="btn-notif">Mark as read</button>
          </div>
        <% end %>
      </div>
  <% end %>
  <%# link_to "Mark as read", "/notificationread/#{n.id}", data:{notification_target: 'mark', action: 'click->notification#mark_as_read'}, style: "text-decoration: none" %>
</div>
