<div class="container mt-2" >
  <div class="flex-for-skip-btn">
    <p><b><i><%= pluralize(@mood.user_moods.count, "user") %> have logged the same mood as you.</i></b></p>
    <%= link_to "Skip", forums_path, class: "affirm-skip-btn" %>
  </div>



 <!---input message--->
  <%= simple_form_for [ @mood, @affirmation_message ] do |f| %>
    <%= f.input :message, label: "Write something nice to other users:" %>
    <%= f.submit "Submit", class: "btn btn-outline-primary btn-sm" %>
  <% end %>
</div>



<div class="container affirmation-page">
  <div class="user-count mt-3">
    <p>
      Tap on the faces below to read their messages to you!
    </p>
  </div>

  <!-- Button trigger modal -->
  <% @messages.sample(5).each do |message| %>
      <%= image_tag message.mood.image, data: {
        toggle: "modal",
        target: "#modal-#{message.id}"
      }, class: "mt-3 a"%>

    <!-- Modal -->
    <div class="modal fade" id="modal-<%= message.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content-bubble">
          <div class="modal-body-bubble">
            <div class="card-wrapper" data-controller="post-card">

              <% unless message.needs_review? %>
                <p data-post-card-target="content" class="<%= "d-none" if message.sensitive? %>">
                <p class="affirmation"><%= message.message %></p>
                </p>
              <% end %>


              <% if message.sensitive? %>
                <div data-post-card-target="message">
                  <p class="sensitive">
                    This post may contain sensitive content.
                  </p>

                  <span data-action="click->post-card#show_content" class="badge badge-light pb-2">Show Content</span>
                </div>
              <% end %>


              <% if message.needs_review?%>
                <p class="sensitive">This post is under review.</p>
              <% end %>



              <!---flag-affirmatiom-->
              <div class="affirmation-flag">
                <%= link_to raw("<button data-action=\"click->post-card#flag\" data-post-card-target=\"flag\" class=\"far fa-flag flag-btn\"></button>"), flag_post_path(message), method: :put, data: { confirm: "Are you sure you want to flag this message?"} if message.get_dislikes.size === 0 %>
                  <% if message.get_dislikes.size > 0 %>
                      <i class="fas fa-flag"></i>
                  <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "refresh page for more messages!", "/affirmationmessages/#{@mood.name}", :method => :get, class: "btn btn-light btn-sm"%>
