<%= simple_form_for [ @mood, @affirmation_message ] do |f| %>
  <%= f.input :message %>
  <%= f.submit "Submit message", class: "btn btn-primary" %>
<% end %>

<div class="container affirmation-page">
<!-- Button trigger modal -->
  <% @messages.sample(5).each do |message| %>
      <%= image_tag message.mood.image, data: {
        toggle: "modal",
        target: "#modal-#{message.id}"
      }%>
  <!-- Modal -->
    <div class="modal fade " id="modal-<%= message.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p class="affirmation"><%= message.message %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "refresh page for more messages!", "/affirmationmessages/#{@mood.name}", :method => :get, class: "btn btn-light"%>
