
<div class="container">
  <%= simple_form_for [ @mood, @affirmation_message ] do |f| %>
    <%= f.input :message, placeholder: "Write your message here.." %>
    <%= f.submit "Submit message", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="container affirmation-page">
  <div class="user-count mt-1">
    <p><%= @mood.user_moods.count %> users have logged the same.</p>
  </div>
<!-- Button trigger modal -->
  <% @messages.sample(5).each do |message| %>
      <%= image_tag message.mood.image, data: {
        toggle: "modal",
        target: "#modal-#{message.id}"
      }, class: "mt-3 a"%>
  <!-- Modal -->
      <div class="modal fade" id="modal-<%= message.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <% if message.get_dislikes.size >= 3 %>
              <div class="card-wrapper" data-controller="post-card">
              <p data-post-card-target="content" class="affirmation d-none" ><%= message.message %></p>
              <span data-post-card-target="message" data-action="click->post-card#show_content" class="message-flag">This message contains sensitive content.<br><span class="badge-show badge-dark">Show More</span></span>
            </div>
            <% elsif message.get_dislikes.size >= 5 %>
              <p>This message is being taken down for review.</p>
            <% else %>
              <p class="affirmation"><%= message.message %>
              <% end %>
              <%= link_to flag_affirmation_message_path(message), method: :put, data: { confirm: "Are you sure you want to flag this message?" } do %>
              <div class="affirmation-flag">
              <%= image_tag("flag.png") %><%= message.get_dislikes.size %></p>
            </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<%= link_to "refresh page for more messages!", "/affirmationmessages/#{@mood.name}", :method => :get, class: "btn btn-light btn-sm"%>
