<div class="container">
  <% @favorites.each do |post| %>
    <div class="card" style="width: 18rem;">
      <%= link_to post_path(post) do %>
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at.strftime("%e %b %y") %></h6>
          <p class="card-text"><%= post.content %></p>
          <%= link_to pluralize(post.comments.count, "Comment"), post_path(post) %>
          <% if current_user.favorited?(post) %>
            <%= link_to icon("fas","heart"), favorite_post_path(post) %>
          <% else %>
            <%= link_to icon("far","heart"), favorite_post_path(post) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>