<div class="container forum-posts mt-3 py-3" style="background-color: <%= @forum.mood.color %>;">
  <h1>#<%= @forum.mood.name %></h1>

  <% @posts.each do |post| %>

    <div class="card mt-1">
      <div class="card-body">
        <div class="card-wrapper" data-controller="post-card">
          <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at.strftime("%e %b %y") %></h6>

          <h4 class="card-title">
            <%= link_to post.title, post_path(post), class: "post-name" %>
          </h4>

          <% unless post.offensive? %>
            <p data-post-card-target="content" class="<%= "d-none" if post.sensitive? %> index-message">
              <%= post.content %>
            </p>
          <% end %>

          <% if post.sensitive? %>
            <div data-post-card-target="message">
              <p class="sensitive">
                This post may contain sensitive content.
              </p>
              <span data-action="click->post-card#show_content" class="badge badge-light pb-2">Show Content</span>
            </div>
          <% end %>

          <% if post.offensive?%>
            <p class="sensitive">This post is under review.</p>
          <% end %>

          <!-- ./ comments -->
          <%= link_to pluralize(post.comments.count, "Comment"), post_path(post), class: "comments"%>

          <div class="engagement">

            <!-- ./ flag -->
              <% if current_user.disliked? post %>
                <i class="fas fa-flag" style="text-decoration: none" ></i>
              <% else %>
                <%= link_to flag_post_path(post), method: :put, data: { confirm: "Are you sure you want to flag this message?"} do %>
                <button data-action="click->post-card#flag" data-post-card-target="flag" class="far fa-flag flag-btn comment-flag"></button>
                <% end %>
              <% end %>





            <!-- ./ heart -->
            <span class="heart-icon">
                <%= link_to '', fav_post_path(post), method: :put, class: current_user.favorited?(post) ? "fas fa-bookmark fav-posts" : "far fa-bookmark fav-posts", data:{ post_card_target: 'favorite', action: 'click->post-card#favorite' } %>
            </span>

          </div>
          <!-- ./engagement -->

        </div>
      </div>
    </div>

  <% end %>
</div>


<div class="container back-top">
  <span class= "back-to-top">back to top</span>
  <button class="btn-show btn-lg fas fa-chevron-up d-flex align-items-center" id="scrollBtn" title="Go to top"></button>
</div>


<div class="container post-bottom">
  <button type="button" class="btn-show btn-lg new-post fas fa-pencil-alt" data-toggle="modal" data-target="#exampleModal"></button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content new-post-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <%= simple_form_for [@forum, @post] do |f| %>
          <%= f.input :title %>
          <%= f.input :content %>
          <%= f.submit "Create post", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
