<div class="container">
  <h2>#<%= @forum.mood.name %></h2>
  <% @posts.each do |post| %>
    <div class="card" style="width: 18rem;">
      <%= link_to post do %>
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= post.created_at %></h6>
          <p class="card-text"><%= post.content %></p>
          <%= link_to "Like", post %>
          <%= link_to "Comments", post %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Create new post", new_forum_post_path(@forum) %>
</div>