<div class="container">
<h3>Written by:<%= @post.user.username %></h3>
<h3>Posted:<%= @post.created_at.strftime("%e %b %y") %></h3>

<div class="card" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title"><%= @post.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @post.created_at.strftime("%e %b %y") %></h6>
      <p class="card-text"><%= @post.content %></p>
        <% if current_user == @post.user %>

          <%= link_to "Delete",
                      post_path(@post),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class:"btn-posts" %>

          <%= link_to "Edit", edit_post_path(@post) %>
        <% end %>

      <ul class="list-group list-group-flush">
        <%= render @post.comments.order(created_at: :desc) %>
      </ul>

      <%= simple_form_for [@post, @comment] do |f| %>
        <%= f.input :id, as: :hidden %>
        <%= f.input :content, as: :text, label: "Write something" %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>

      <br>
      <% if current_user.favorited?(@post) %>
        <%= link_to icon("fas","heart"), favorite_post_path(@post) %>
      <% else %>
        <%= link_to icon("far","heart"), favorite_post_path(@post) %>
      <% end %>

    </div>
  </div>
</div>
