<div class="post-title mt-1">
  <h3 class="user-name">@<%= @post.user.username %><br>Posted:<%= @post.created_at.strftime("%e %b %y") %></h3>
  <%= link_to "", forum_posts_path(@post.forum), class: "fas fa-arrow-left arrow-left" %>
   </div>
</div>

<div class="container post mt-3 py-3" style="background-color: <%= @post.forum.mood.color %>;>
  <div class="card">
    <div class="card-body" style="background-color: #f6f5f0">
      <div class="card-wrapper" data-controller="post-card">

        <h5 class="card-title"><%= @post.title %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @post.created_at.strftime("%e %b %y") %></h6>

        <p class="card-text"><%= @post.content %></p>

        <%# buttons %>

        <div class="text-right pr-3">
            <% if current_user == @post.user %>
              <%= link_to "", edit_post_path(@post), class: "fas fa-edit edit-btn" %>
              <%= link_to "",
                          post_path(@post),
                          method: :delete,
                          data: { confirm: "Are you sure?" },
                          class:"delete-button fas fa-trash-alt" %>
            <% end %>


            <%# flag post %>
            <% if @post.get_dislikes.size > 0 %>
              <i class="fas fa-flag"></i>
            <% else %>
              <%= link_to flag_post_path(@post), method: :put, data: { confirm: "Are you sure you want to flag this message?"} do %>
              <button data-action="click->post-card#flag" data-post-card-target="flag" class="far fa-flag flag-btn"></button>
              <% end %>
            <% end %>

            <%# Like %>
            <span class="heart-icon">
              <%= link_to '', fav_post_path(@post), method: :put, class: current_user.favorited?(@post) ? "fas fa-bookmark fav-posts" : "far fa-bookmark fav-posts", data:{ post_card_target: 'favorite', action: 'click->post-card#favorite' } %>
            </span>
          </div>



        <%# comments %>
        <div class="container">
          <ul class="list-group list-group-flush mt-4">
            <%= render @post.comments.where(parent_id: nil) %>
          </ul>
        </div>

        <%# new comment form %>
          <%= simple_form_for [@post, @comment] do |f| %>
            <%= f.input :content, as: :text, label: "Write something" %>
            <%= f.submit "Submit", class: "btn btn-primary m-3" %>
          <% end %>


      </div>
    </div>
  </div>
</div>
