<div class="container">
<h3>Written by:<%= @post.user.username %></h3>
<h3>Posted:<%= @post.created_at.strftime("%e %b %y") %></h3>

<div class="card" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title"><%= @post.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @post.created_at.strftime("%e %b %y") %></h6>
      <p class="card-text"><%= @post.content %></p>
      <ul class="list-group list-group-flush">
       <%= render @post.comments.order(created_at: :desc) %>
      </ul>

      <%= simple_form_for [@post, @comment] do |f| %>
        <%= f.input :id, as: :hidden %>
        <%= f.input :content, as: :text, label: "Write something" %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>

        <br>
      <%= link_to "Like", @post %>
    </div>
  </div>
</div>
