<div class="container">
<div class="card" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title"><%= @post.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @post.created_at %></h6>
      <p class="card-text"><%= @post.content %></p>
      <%= link_to "Like", @post %>
      <%= link_to "Comments", @post %>
    </div>
  </div>
</div>