<div class="post-title mt-1">
  <h3>@<%= @post.user.username %></h3>
  <h3>Posted:<%= @post.created_at.strftime("%e %b %y") %></h3>
</div>

<div class="container post mt-3 py-3">
  <div class="card">
    <div class="card-body">

      <h5 class="card-title"><%= @post.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @post.created_at.strftime("%e %b %y") %></h6>

      <p class="card-text"><%= @post.content %></p>

      <%# buttons %>
      <% if current_user == @post.user %>
        <%= link_to "Edit", edit_post_path(@post), class: "btn-posts" %>
        <%= link_to "Delete",
                    post_path(@post),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class:"btn-posts" %>
      <% end %>

      <%# Like %>
      <% if current_user.favorited?(@post) %>
        <%= link_to icon("fas","heart"), favorite_post_path(@post) %>
      <% else %>
        <%= link_to icon("far","heart"), favorite_post_path(@post) %>
      <% end %>

      <%# flag post %>
      <%= link_to flag_post_path(@post), method: :put, data: { confirm: "Are you sure you want to flag this post?" } do %>
        <div class="engagement">
          <p class="text-right"><%= image_tag("flag.png") %><%= @post.get_dislikes.size %></p>
        </div>
      <% end %>

      <%# comments %>
      <ul class="list-group list-group-flush">
        <%= render @post.comments %>
      </ul>

      <%# new comment form %>
      <%= simple_form_for [@post, @comment] do |f| %>
        <%= f.input :id, as: :hidden %>
        <%= f.input :content, as: :text, label: "Write something" %>
        <%= f.submit "Submit", class: "btn btn-primary m-3" %>
      <% end %>

    </div>
  </div>
</div>
