<div class="container">
<h3>Written by:<%= @post.user.username %></h3>
<h3>Posted:<%= @post.created_at.strftime("%e %b %y") %></h3>
<%# <h3>Last logged mood:<%= @post.user.mood.name %></h3>
<div class="card" style="width: 18rem;">
  <div class="card-body">
      <h5 class="card-title"><%= @post.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @post.created_at.strftime("%e %b %y") %></h6>
      <p class="card-text"><%= @post.content %></p>
      <ul class="list-group list-group-flush">
        <% @post.comments.each do |comment| %>
          <li class="list-group-item">
          <%= comment.content %>
          </li>
        <% end %>
      </ul>
      <%= simple_form_for [@post, @comment] do |f| %>
        <%= f.input :content, as: :text %>
        <%= f.submit "Comment", class: "btn btn-primary" %>
        <% end %>
      <%= link_to "Like", @post %>
    </div>
  </div>
</div>